/*estilização do Body da página*/
body {
    margin: 0;
    border: 0;
    font-family: monospace;
}

/*estilização do  header pra pag*/
header {
    background-color: blueviolet;
}


.Slogo {
    padding-top: 10px;
    height: 80px;
    margin-left: -30px;
}

/*estilização do menu do site*/
nav {
    padding-bottom: 10px;
    color: white;
    font-size: 28;
}

nav li {
    display: inline;
    margin-right: 40px;
}

/*estilização da DIV do header */
.divHeader {
    display: flex;
    justify-content: center;
    position: relative;
}

/*estilizaçao do banner*/
.banner {
    width: 100%;
    height: 72%;
    object-fit: cover;
    background-image: url('../IMG/900-473-bolo-de-pote-para-vender.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
/*estilização do SOBRE NÓS */
.Sobre_nos {
    margin: 0;
    text-align: justify;
    width: 60%;
    margin-left: 20%;
}
.img_sobrenos {
    width: 10%;
    float: left;
    margin-right: 20px;
}
.titulo_sobrenos {
    text-align: center;
    clear: left;
}