/*Estilização do header*/
Header {
    background-color: #ffb7c1;
}

/*Estilização do body*/
body {
    margin: 0;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Estilização do logo*/
.SimoneLogo {
    padding-top: 5px;
    height: 100px;
    margin-right: 30px;
    padding-bottom: 20px;
}

/*Estilização do Menu*/
nav {
    padding-top: 30px;
    color: white;
    font-size: 20;
}

nav li {
    display: inline;
    margin-right: 20px;
    transition: all .3s ease;
}
.link:hover{
    color: #db5275;
}

/*Estilização da DIV do header*/
.divHeader {
    display: flex;
    justify-content: center;
    position: relative;
}

/*Estilização do Banner*/
.divBanner {
    width: 100%;
    height: 72%;
    object-fit: cover;
    background-image: url(https://bolosparavender.com/wp-content/uploads/2021/05/massa-para-bolo-de-pote-de-liquidificador.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*Estilo titulo do mapa*/
.titulo_mapa {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*Estilo do mapa*/
.Mapa {
    background-color: #db5275;
    text-align: center;
    padding-bottom: 20px;
    color: #faefd6;
}

.IMG_mapa {
    border-radius: 30px;
}

.fundinho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background-image: url(https://confeitariachristina.com.br/wp-content/uploads/2024/04/blog-historia-dos-bolos-de-aniversario.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fundinho::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.788);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fund_text {
    position: relative;
    width: 27%;
    z-index: 2;
    text-align: center;
    color: antiquewhite;
}